.flex {
  display: flex;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.fd-row {
  flex-direction: row;
}

.fd-col {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: start;
}

.jc-end {
  justify-content: end;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: start;
}

.ai-end {
  align-items: end;
}

.marg-0 {
  margin: 0px;
}

.marg-1 {
  margin: 7px;
}

.marg-2 {
  margin: 14px;
}

.marg-3 {
  margin: 21px;
}

.margh-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.margh-1 {
  margin-left: 7px;
  margin-right: 7px;
}

.margh-2 {
  margin-left: 14px;
  margin-right: 14px;
}

.margh-3 {
  margin-left: 21px;
  margin-right: 21px;
}

.margv-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margv-1 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.margv-2 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.margv-3 {
  margin-top: 21px;
  margin-bottom: 21px;
}
